
.icon-cog-1:before { content: '\e800'; } /* '' */
.icon-video:before { content: '\e801'; } /* '' */
.icon-user-1:before { content: '\e804'; } /* '' */
.icon-headphones:before { content: '\e806'; } /* '' */
.icon-cart:before { content: '\e807'; } /* '' */
.icon-book:before { content: '\e809'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */